/*----------About Section - Desktop----------*/
.about-me {
  display: flex;
  justify-content: center;
}
/*----------About Text - Desktop----------*/
.about-container {
  display: flex;

  padding-top: 4rem;
}

.quote-left,
.quote-right {
  display: flex;
  flex-wrap: wrap;
}

.quote-left {
  align-content: flex-start;
}

.quote-right {
  align-content: flex-end;
}

.quote {
  font-size: 2rem;
}

.text-about {
  max-width: 45rem;

  margin: 2rem;
}

/*----------Responsive Screens----------*/
@media screen and (max-width: 600px) {
  /*----------About Section - Mobile----------*/
  .about-me {
    margin: 0 2rem;
  }

  /*----------About Text - Mobile----------*/
  .about-container {
    flex-direction: column;

    padding-top: 2rem;
  }

  .quote-left {
    justify-content: flex-start;
  }

  .quote-right {
    justify-content: flex-end;
  }

  .text-about {
    margin: 0.5rem;
  }
}
