.contact-me {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  padding: 6rem 2rem 10rem;

  height: fit-content;

  background-color: var(--text-color-main);
}

.invert {
  color: var(--bg-color-main);
}

.form-container {
  max-width: 50rem;
  width: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  padding-top: 4rem;

  width: 100%;

  gap: 2rem;
}

.field {
  font-size: 0.825rem;

  width: 100%;

  padding: 1rem;

  border-radius: 1rem;

  color: var(--text-color-main);
  background-color: var(--bg-color-main);

  box-shadow: var(--dropshadow);
}

.field::placeholder {
  font-size: 0.825rem;
  color: var(--text-color-placeholder);
}

.btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  font-size: 0.825rem;
  font-weight: 700;

  padding: 1rem;

  width: 8rem;
  height: 3.5rem;

  border-radius: 2rem;
  border: var(--bg-color-main) 0.15rem solid;

  color: var(--bg-color-main);

  transition: all 300ms ease;
}

.btn-submitted {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  font-size: 0.877rem;
  font-weight: 700;

  padding: 1rem;

  width: 8.5rem;
  height: 3.72rem;

  border-radius: 2rem;
  border: var(--hover-color-main) 0.15rem solid;

  color: var(--bg-color-main);
  background-color: var(--hover-color-main);
}

@media screen and (width > 1200px) {
  .btn-submit:hover {
    font-size: 0.877rem;

    width: 8.5rem;
    height: 3.72rem;

    border: var(--hover-color-main) 0.15rem solid;

    color: var(--bg-color-main);
    background-color: var(--hover-color-main);
  }
}
