:root {
  --bg-color-main: #ffffff;
  --bg-color-modal: rgb(0 0 0/30%);

  --text-color-main: #303030;
  --text-color-placeholder: #454545;
  --text-color-secondary: #707070;

  --dropshadow: 0px 0px 10px rgb(0 0 0/20%);

  --hover-color-nav-text: rgb(190, 190, 190);
  --hover-color-nav-underline: rgb(220, 220, 220);
  --hover-color-main: rgb(200, 67, 68);
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--text-color-main);
}

section {
  height: 96vh;
  min-height: fit-content;

  margin: 0 10rem;
  padding-top: 4vh;
}
